pandas>=2.0.0
numpy<2.0.0  
openpyxl>=3.1.2

geopandas>=0.14.0
libpysal>=4.8.0
folium>=0.15.0

#DO NOT TOUCH TORCH VERSION
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
lightning>=2.0.0
pytorch-forecasting>=1.0.0

optuna
tensorboard
jupyter

matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.2.0